*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /* header section */
    body{
        background-image: url(/Hw-W4-D2/login/image-login/vecteezy_abstract-blue-background-fluid-shapes-composition-eps10_14195144.jpg) ;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .navbar{
        /* background-color: rgba(255, 255, 255, 0.3)!important; */
    }
    .navbar img{
        filter: brightness(0)invert(1);
    }
    .navbar a{
        filter: brightness(0)invert(1);
    }
    /* header section end */
    /* main */
   
    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color:white;
    font-weight: bold !important;
    }
.caption h1 {
    font-size: 60px;

}
.caption h3 {
    font-size: 50px;
    color: rgb(188, 201, 216);

}
    .button .btn {
        font-size: xx-large;
        padding-left: 4rem;
        padding-right: 4rem;

    }
   
    .button{
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding-top: 2rem;

    }
        